.tools/*
cef/*
cef_binary_3.y.z_windows32/*
!cef_binary_3.y.z_windows32/.empty
!cef_binary_3.y.z_windows32/LICENSE.txt
!cef_binary_3.y.z_windows32/README.txt
cef_binary_3.y.z_windows64/*
!cef_binary_3.y.z_windows64/.empty
!cef_binary_3.y.z_windows64/LICENSE.txt
!cef_binary_3.y.z_windows64/README.txt
cef_binary_3.y.z_windowsarm64/*
!cef_binary_3.y.windowsarm64/.empty
!cef_binary_3.y.z_windowsarm64/LICENSE.txt
!cef_binary_3.y.z_windowsarm64/README.txt

*.nupkg
*.sdf
*.opensdf
*.suo
*.user
*.log
_ReSharper*
out
*Thumbs.db
*.bz2
/.vs
